@use 'src/scss/variables' as *;
.sidenav {
position: fixed;
  width: auto;
  max-width: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 0%;
  background-color: $gray-light;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.sidenav.sidenav-open {
  transform: translateX(0);
}

.sidenav-header{
  width: 100%;
  img {
    width: 80%;
  }
}

.sidenav-footer{
  width: 100%;
  img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .sidenav {
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
  }

  .sidenav.sidenav-open {
    transform: translateX(0);
  }
}

.content {
  transition: margin-left 0.3s ease;
}

.sidenav-open + .content {
  margin-left: 250px; /* Adjust this value to match the width of the sidenav */
}
