<div class="sidenav" [ngClass]="{'sidenav-open': isOpen}">
    <div class="sidenav-header">
        <img src="assets/img/logoStefanini-sidenav.png" alt="Logo">
    </div>
    <ul class="navbar-nav flex-column">
        <!-- Botón de "Registrar visita" con clase dinámica 'active' -->
        <button (click)="navigateTo('/record-visit')" class="btn my-2 fs-4"
            [ngClass]="{'btn-primary': isActive('/record-visit'), 'btn-link text-primary': !isActive('/record-visit')}">
            <i class="bi bi-plus-square"></i>
        </button>

        <!-- Botón de "Resumen" con clase dinámica 'active' -->
        <button (click)="navigateTo('/resume')" class="btn my-2 fs-4"
            [ngClass]="{'btn-primary': isActive('/resume'), 'btn-link text-primary': !isActive('/resume')}">
            <i class="bi bi-card-list"></i>
        </button>
    </ul>
    <div class="sidenav-footer">
        <!-- Botón de Cerrar sesión -->
        <button (click)="cerrarSesion()" class="btn btn-link text-danger fs-4">
            <i class="bi bi-box-arrow-right"></i>
        </button>
    </div>
</div>