@use 'src/scss/variables' as *;

.visit-details {
    flex-grow: 1;
    border-left: 2px solid $spotlight-blue;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .day {
    background-color: #e9ecef; // Color de fondo para la sección de fecha
    border-right: 1px solid #dee2e6; // Línea divisoria
  }
  
  .card-title {
    font-weight: bold;
    color: #343a40; // Color del texto del título
  }
  
  .card-text {
    color: #6c757d; // Color del texto normal
  }

  .detalles-link {
    color: blue; /* Color del enlace */
    text-decoration: underline; /* Subrayado del enlace */
    cursor: pointer; /* Cambia el cursor al pasar sobre el enlace */
  }
  